<h2>Create new question</h2>


<%= simple_form_for([@test, @question], html: {class: 'form-horizontal'}) do |f| %>

    <div class="row">
      <div class="col-md-6 col-xs-12">

        <%= f.input :question, label: 'Question',
                    input_html: {style: 'width:300px;'} %>


        <%= f.hidden_field :test_id, value: @test.id %>

      </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-md-1 col-md-offset-1">
        <%= f.button :submit, 'Сохранить', class: 'btn btn-success' %>
      </div>
    </div>

<% end %>









